<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  </head>
  <body>
    <div class="container">
      <h1><%= budget["name"] %></h1>
      <form action="./">
        <button>Back</button>
      </form>
      <ul>
        <li>Date: <%= budget["date"] %></li>
        <li>Name: <%= budget["name"] %></li>
        <li>From: <%= budget["from"] %></li>
        <li>Amount: <%= budget["amount"] %></li>
        <li>Tags: <%= budget["tags"] %></li>
      </ul>
    </div>
  </body>
</html>
