<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Some Jonk</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><%= title %></h1>
        <h3>My World Class Junk Store</h3>
      </div>
      <div class="showProduct">
        <div class="showImage">
          <img src="<%= product.img %>" />
        </div>
        <div class="showDescription">
          <h2><%= product.name %></h2>
          <p>Description: <%= product.description %></p>
          <p>Price: <%= product.price %></p>
          <p>Units Left: <%= product.qty %></p>
        </div>
      </div>
      <div class="footer">
        <% if(product.qty > 0) { %>
          <form action="/jonk/<%= product.id %>/buy/<%= product.qty %>?_method=PUT" method="POST">
            <input type="submit" value="Buy Some Jonk" class="button inputButton" />
          </form>
        <% } else { %>
          <a class="button">
            No More Jonk
          </a>
        <% } %>
        <a href="#" class="button">
          Fix This Jonk
        </a>
        <a href="/jonk" class="button">
          See More Jonk
        </a>
        <form action="/jonk/<%= product._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Get Rid of Dis Jonk" class="button inputButton">
        </form>
      </div>

    </div>
  </body>
</html>
