<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>A New Pokemon</title>
  </head>
  <body>
    <div class="container">
      <div class="mainBack">
        <div class="showLeft">
          <img src="<%= pokemon["img"] %>" /><br/>
          <a href="/pokedex">INDEX</a>
        </div>
        <div class="showRight2">
          <form action="/pokedex/<%=index%>?_method=PUT" method="POST">
            <table>
              <tr>
                <td class="showTitle">ID:</td>
                <td><input type="text" name="id" value="<%= pokemon["id"] %>"/></td>
              </tr>
              <tr>
                <td class="showTitle">NAME:</td>
                <td><input type="text" name="name" value="<%= pokemon["name"] %>"/></td>
              </tr>
              <tr>
                <td class="showTitle">TYPE:</td>
                <td><input type="text" name="type" value="<%= pokemon["type"] %>"/></td>
              </tr>
              <tr>
                <td class="showTitle">STATS:</td>
                <td>
                  <table>
                    <tr>
                      <td class="showSubTitle">HP:</td>
                      <td><input type="text" name="hp" value="<%= pokemon["stats"]["hp"] %>"/></td>
                    </tr>
                    <tr>
                      <td class="showSubTitle">ATTACK:</td>
                      <td><input type="text" name="attack" value="<%= pokemon["stats"]["attack"] %>"/></td>
                    </tr>
                    <tr>
                      <td class="showSubTitle">DEFENSE:</td>
                      <td><input type="text" name="defense" value="<%= pokemon["stats"]["defense"] %>"/></td>
                    </tr>
                    <tr>
                      <td class="showSubTitle">SP ATTACK:</td>
                      <td><input type="text" name="spattack" value="<%= pokemon["stats"]["spattack"] %>"/></td>
                    </tr>
                    <tr>
                      <td class="showSubTitle">SP DEFENSE:</td>
                      <td><input type="text" name="spdefense" value="<%= pokemon["stats"]["spdefense"] %>"/></td>
                    </tr>
                    <tr>
                      <td class="showSubTitle">SPEED:</td>
                      <td><input type="text" name="speed" value="<%= pokemon["stats"]["speed"] %>"/></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="shotTitle">IMG: </td>
                <td><input type="text" name="img" value="<%= pokemon["img"] %>"/></td>
              </tr>
              <tr>
                <td><input type="submit" value="Update Pokemon"></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
