<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

    <title><%= pokemon["name"] %></title>
  </head>
  <body>
    <div class="container">
      <div class="mainBack">
        <div class="showLeft">
          <img src="<%= pokemon["img"] %>" /><br/>
          <a href="./">INDEX</a>
          <a href="/pokedex/<%= index %>/edit">EDIT</a>
          <form action="/pokedex/<%= index %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
            <!-- <a href="/pokedex/<%= index %>">DELETE</a> -->
          </form>
        </div>
        <div class="showRight">
          <table>
            <tr>
              <td class="showTitle">ID:</td>
              <td><%= pokemon["id"]%></td>
            </tr>
            <tr>
              <td class="showTitle">NAME:</td>
              <td><%= pokemon["name"] %></td>
            </tr>
            <tr>
              <td class="showTitle">TYPE:</td>
              <td><%= pokemon["type"] %></td>
            </tr>
            <tr>
              <td class="showTitle">STATS:</td>
              <td>
                <table>
                  <tr>
                    <td class="showSubTitle">HP:</td>
                    <td><%= pokemon["stats"]["hp"] %></td>
                  </tr>
                  <tr>
                    <td class="showSubTitle">ATTACK:</td>
                    <td><%= pokemon["stats"]["attack"] %></td>
                  </tr>
                  <tr>
                    <td class="showSubTitle">DEFENSE:</td>
                    <td><%= pokemon["stats"]["defense"] %></td>
                  </tr>
                  <tr>
                    <td class="showSubTitle">SP ATTACK:</td>
                    <td><%= pokemon["stats"]["spattack"] %></td>
                  </tr>
                  <tr>
                    <td class="showSubTitle">SP DEFENSE:</td>
                    <td><%= pokemon["stats"]["spdefense"] %></td>
                  </tr>
                  <tr>
                    <td class="showSubTitle">SPEED:</td>
                    <td><%= pokemon["stats"]["speed"] %></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
